 .bouton{
	font-family: Arial, Helvetica, sans-serif; 		/*police d'écriture*/
    font-size: 15px;	/*taille de la police*/
    width: 80px;		/* Longueur */
    height: 30px;		/* hauteur */
    padding-top: -10px; /*permet le centrage vertical*/
    text-align: center;		/* centrer le texte */
	margin : auto;			/* centrer le texte dans le bouton */
    color: #222;			/* couleur du texte */
    background: #7CBFF3;		/* couleur de fond */
	border-radius: 8px;			/* bordure arrondi */
	webkit-touch-callout: none;	/* Adaptabilité autre navigateur */
	webkit-user-select: none;
	khtml-user-select: none;
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;			
	border : none;			/* Aucune bordure */
							
}

.bouton:hover{			/* Quand la souris passe sur le bouton */
    color: #222;
    background: #60b3f0;		/* Couleur de fond */
	webkit-touch-callout: none;
	webkit-user-select: none;
	khtml-user-select: none;
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;
	border : none;			/* Aucune bordure */
	 }

.bouton:active{		/* Quand on clique sur le bouton */
    color: #222;
    background: #7CBFF3;
	webkit-touch-callout: none;
	webkit-user-select: none;
	khtml-user-select: none;
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;	
	border : none;
}