body {
  background : #fff;
}
span {
  border-color : #fff;
  border-style : solid;
  height : 10;
  overflow : hidden;
  display : inline-block;
  margin : 10px;
  clear : both;
}

#s3 {
  border-top-width : 17px;
  border-bottom-width : 17px;
  border-right-width : 10px;
  border-right-color : #abc;
}
