/* 
	feuille css saisie des notes
*/

/* PropriÈtÈs du tableau */
table {
display: table;
border-spacing: 2px;
-wekbit-border-horizontal-spacing:2px;
-wekbit-border-vertical-spacing:2px;
border-color: white;
}

/* Attributs initials */
#customers { 
font-family: century gothic, serif;
width: 100%;
border-collapse: collapse;
color: black;
}

/* En tete
Attibuts mise en forme */
thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
border-top-color: white;
border-right-color: white;
border-bottom-color: white;
border-left: white; 
}

/* En-tete 
Attributs styles */
#customers thead th {
font-size: 12px;
text-align: center;
padding-top: 3px;
padding-bottom: 4px;
background-color: #7CBFF3;
color: black;
font-weight: bold;
}    

/* Corps du tableau
Attributs mise en forme */
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
border-top-color: white;
border-right-color: white;
border-bottom-color: white;
border-left: white;
}     

/* Attributs mise en forme tr */
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
border-top-color: white;
border-right-color: white;
border-bottom-color: white;
border-left: white;} 

/*Attributs mise en form th */
th {
display: table-cell; 
font-size: 12px;
border: 1px solid white;
padding : 3px 7px 4px 7px;
vertical-align: inherit;
}

/* lignes blanches */
#customers th {
background-color: white;
}                    

/* lignes bleues */
#customers tr.alt th {
background-color: #D1E6F6;
}                                                                                                                                                                                                                                                                  	