/* GENERAL */

a {
	color: #7CBFF3;
	text-decoration: none;
}

a:hover {
	color: #CCD4D9;
	text-decoration: none;
}

/* HEADER */

#parametre {
	font-size: 0.9em;}

#main {
	background: white;}
	
/* BOUTON */
.bouton{
	font-family: Arial, Helvetica, sans-serif; 		/*police d'écriture*/
    font-size: 20px;	/*taille de la police*/
    padding-top: -10px; /*permet le centrage vertical*/
    text-align: center;		/* centrer le texte */
	margin : auto;			/* centrer le texte dans le bouton */
    color: White;			/* couleur du texte */
    background: #7CBFF3;		/* couleur de fond */
	border-radius: 8px;			/* bordure arrondi */
	webkit-touch-callout: none;	/* Adaptabilité autre navigateur */
	webkit-user-select: none;
	khtml-user-select: none;
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;			
	border : none;			/* Aucune bordure */
							
}

.bouton:hover{			/* Quand la souris passe sur le bouton */
    color: White;
    background: #60b3f0;		/* Couleur de fond */
	webkit-touch-callout: none;
	webkit-user-select: none;
	khtml-user-select: none;
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;
	border : none;			/* Aucune bordure */
	 }

.bouton:active{		/* Quand on clique sur le bouton */
    color: White;
    background: #7CBFF3;
	webkit-touch-callout: none;
	webkit-user-select: none;
	khtml-user-select: none;
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;	
	border : none;
}

/* choix de la taille du bouton */
.btnl {
	width: 115px;		/* Longueur */
    height: 40px;		/* hauteur */
}

.btnm { 				
	width: 80px;		/* Longueur */
    height: 30px;		/* hauteur */
}

/* MENU */

#menu {
	text-align:center;
}

#menu li {
	text-align:center
}
