body {									/* Pour tout le corps de la page */
	font-family: Arial, Helvetica, sans-serif;		/* Famille de police */
	background-color : White;		/* Couleur fond de la page */
	font-size : 20px;					/* Taille de la police */
	text-align : center;				/* alignement de la page */
	color : #222;					/* Couleur de la police gris foncée */
	}

.margin {								/* Pour texte */
	Margin-bottom : 10px;		/* Marge en dessous du texte */
}
	
.groove {  							/* Cadre du milieu */
	
	

	width: 170px;					/* Longueur */ 
	position : relative;				/* Position */
	background-color : #E2E2E2;		/* Couleur fond du cadre */
	padding-top : 100px;			/* Espace interieur cadre */
	padding-left : 100px;
	padding-bottom : 100px;
	padding-right : 100px;
	left : 50%;						/* aide au centrage du cadre */
	
	margin-top: 100px; 			/* espace entre le haut de la page et cadre */
	margin-left: -185px;			/* centrage au milieu de la page */
	box-shadow: none;			/* Aucune ombre au cadre */
	
	}
	
#inputtext {	 						/* Cadre de saisie de texte */
	height : 25px;					/* Hauteur */	
	margin : auto;					/* marge automatique */
	
	}